@media (max-width: 600px) {
    div.cursors {
      display: none;
    }

    aside.projects-cta-banner {
        height: 70vh;
        display: flex;
        align-items: center;
        padding: 64px 48px 64px 48px;;
      }

      div.project-cta {
          flex-direction: column;
          justify-content: flex-start;
          text-align: center;
      }

      div.project-cta hr {
        border: none;
        border-left: 2px solid #ffffff;
        height: 10vh;
        width: 2px;
        margin: 24px 0;
      }

      div.studio-work {
        display: block;
      }

      div.terms-conditions {
        display: block;
        text-align: end;
      }

      div.sec-footer h1.mobile-copy {
        display: flex;
        flex-basis: 100px;
      }

      div.studio-work > div:nth-child(odd) {
        border-right: none;
      }

      div.studio-work div.item {
        height: 100%;
      }

      div.item div.item_title {
        top: 39%;
      }

      section.project__description figcaption {
        padding: var(--global-pad) 0;
      }

      section.project-container {
        width: 100%;
        padding: 0 var(--global-pad);
      }

      div.about__section section {
        width: 100%;
        padding: var(--pad);
      }

      div.about__section section p{
        font-size: inherit;
      }

      div.about-hero-cta figcaption {
        padding: var(--global-pad);
      }
}