@import url('https://rsms.me/inter/inter.css');
@import url("base.css");

:root {
  --pad: 48px 96px 48px 96px;
  --global-pad: 30px;
  --footer-pad: 10px;
  --btn-pad: 16px 34px 16px 34px;
  --bg: #f3f3f3;
  --line-footer: #aaaaaa;
  --highlight: #ffffdd;
  --text: #000000;
  --nav-text: #000000;
  --link-color: #0000ff;
  --selection-color: #ffffff;
  --dash-size: 0.8em;

  --h1-size: 80px;
  --h2-size: 40px;
  --h3-size: 18px;
  --h4-size: 14px;
  --p-size: 24px;
}

@media (max-width: 960px) {
  :root {
    --pad: 24px 48px 24px 48px;

    --h1-size: 64px;
  }

  .photo img {
    max-width: 100% !important;
  }
}

@media (max-width: 640px) {
  :root {
    --h1-size: 40px;
    --h2-size: 32px;
    --h3-size: 18px;
    --p-size: 18px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #111118;
    --highlight: #22222a;
    --text: #fffff9;
    --link-color: #ffe100;
  }
}

body {
  font-family: Hoefler Text, Arial;
  font-size: var(--p-size);
  line-height: 1.25;

  background-color: var(--bg);
  color: var(--text);

  max-width: 1920px;
  margin: 0 auto 0 auto;

  padding-bottom: 135px;
}

div.page {
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
}

/* Selections */
::-moz-selection {
  background: var(--selection-color);
}
::selection {
  background: var(--selection-color);
}
/* Selections */

a { 
  color: var(--nav-text);
  text-decoration: none;
  /*border-bottom: 2px solid currentColor;*/
}

header {
  /*position: -webkit-sticky;
  position: sticky;*/
  top: 0;
  width: 100vw;
  height: 120px;
  z-index: 3;
  padding: 10px var(--global-pad);
  background-color: var(--bg);
  font-variation-settings: "wght" 600;
  align-items: center;

  display: flex;
  justify-content: space-between;
}

header h1:before {
  content: "";
  display: inline-block;
  width: var(--dash-size);
  height: 2px;
  margin: 0 0.5em 0 0;
  /*background-color: var(--link-color);*/
  vertical-align: middle;
}

header h1 a {
  color: currentColor;
  border-bottom-color: transparent;
}

div.header-logo-x0 img {
  min-width: 200px;
  margin: 0;
}

div.left-nav-x1 {
  font-size: var(--h4-size);
}

div.lang-link, div.right-nav-x2 {
  font-size: var(--h4-size);
  text-align: right;
}

div.right-nav-x2 ul p {
  margin: 0;
}

div.lang-link a {
  text-transform: uppercase;
}

div.lang-link a:first-child:after {
  content: "/";
  color: var(--text);
  margin-left: 5px;
}

div.left-nav-x1, div.right-nav-x2 {
  flex: 1;
}

.container {
  height: 40rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	width: auto;
	z-index: -1;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
  object-fit: cover;
}

section.project-thumbnails {
  position: relative;
}

div.project-thumb {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

div.project-thumb img {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}

div.project-thumb p {
  position: absolute;
  width: 100%;
  top: 43%;
  font-size: 6.5vw;
  text-align: center;
  z-index: 99;

  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

div.project-thumb:hover p {
  visibility: visible;
  opacity: 1;
}

div.q-info {
 background-color: var(--highlight);
 height: 360px;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: var(--pad); 
}

div.q-info-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  color: var(--text);
}

div.q-info-container img {
  width: 100px;
}

div.q-info-container h2 {
  width: 320px;
  text-align: end;
  margin-right: 20px;
}

aside.projects-cta-banner {
  background-color: var(--highlight);
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: var(--pad);
}

div.project-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
}

div.project-cta h2 {
  width: 180px;
}

hr {
  border: 1px solid var(--text);
  width: 40vw;
  margin: 0 72px;
}

button.btn {
  background: none;
  border: 2px solid var(--text);
  border-radius: 3px;
  /*border-radius: 35px;*/
  transition:0.5s ease-in-out;
  cursor: pointer;
  padding: var(--btn-pad);
  position: relative;
  overflow: hidden;
  z-index: 200;
}

button.btn::before {
  content: 'Archivo proyectos';
}

button.btn:hover {
  color: var(--text);
  border-color: var(--text);
  box-shadow: 0 0.8em 0.5em -0.4em #5a5a5a;
  transform: translateY(-0.35em);
}

section.hero {
  font-size: var(--h1-size);
  font-variation-settings: "wght" 600;
  line-height: 1.15;
  padding: var(--pad);
}

figure {
  margin: 0 0 48px 0;
}

figcaption {
  padding: var(--pad);
  max-width: 35em;
}

figure img {
  position: relative;
  z-index: 2;
}

h2 {
  font-size: var(--h2-size);
  font-variation-settings: "wght" 500;
  margin: 0 0 24px 0;
}

h2 a {
  color: var(--text);
}

h3 {
  font-size: var(--h3-size);
  font-variation-settings: "wght" 500;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

h4 {
  font-size: var(--h4-size);
  font-variation-settings: "wght" 500;
  text-transform: uppercase;
  margin: 0 0 4px 0;
}

p {
  margin: 0 0 24px 0;
}

p:last-child {
  margin-bottom: 0;
}

figcaption p.comingsoon {
  opacity: 0.5;
  font-size: 0.75em;
}

div.cursors div {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid var(--line-footer);
  z-index: 1000;
  pointer-events: none;
  /*background-color: var(--link-color);*/
  background-color: transparent;
}

div.cursors div:last-child {
  background-color: var(--text);
  width: 8px;
  height: 8px;
  mix-blend-mode: darken;
}

section.assets {
  font-size: 16px;
  padding: var(--pad);
  counter-reset: assets;
}

section.assets figcaption {
  margin-top: 16px;
  padding: 0;
}

section.assets figcaption:before {
  counter-increment: assets;
  content: "Image #" counter(assets);
  display: block;
  font-variation-settings: "wght" 600;
  margin-bottom: 0.25em;
}

section.credits {
  padding: var(--pad);
  background-color: var(--highlight);
}

section.credits div.list {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 8px 32px;
}

section.credits span.role {
  font-variation-settings: "wght" 500;
}

section.prev-next {
  padding: var(--pad);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

section.prev-next a {
  border-bottom: none;
}

section.prev-next a.next {
  text-align: right;
}

footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  left: 0;
  bottom: 0;
  padding: var(--global-pad);
  width: 100vw;
  font-size: var(--h4-size);
  z-index: 1;
}

div.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid var(--line-footer);
  padding-bottom: var(--footer-pad);
}

div.shrink-text {
  flex: 0 0 66.666667%;
}

div.social-links {
  display: inline-grid;
  text-align: end;
}

div.sec-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--footer-pad);
  font-family: Roboto;
  color: var(--line-footer)
}

div.terms-conditions {
  display: flex;
}

div.terms-conditions h1 {
  margin-left: 20px;
}

/* Cursos styles 
div.cursors div {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 32px;
  height: 32px;
  border: 1px solid var(--line-footer);
  background-color: transparent;
  border-radius: 50%;
  z-index: 1000;
  pointer-events: none;
  
}

div.cursors div:last-child {
  background-color: var(--text);
  width: 8px;
  height: 8px;
  mix-blend-mode: darken;
}
*/