@import url('https://rsms.me/inter/inter.css');
@import url("base.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --pad: 48px 96px 48px 96px;
  --global-pad: 30px;
  --footer-pad: 10px;
  --btn-pad: 16px 34px 16px 34px;
  --bg: #ffffff;
  --line-footer: #aaaaaa;
  --highlight: #ffffdd;
  --text: #000000;
  --white-text: #ffffff;
  --nav-text: #000000;
  --link-color: #0000ff;
  --selection-color: #e0e0e0;
  --dash-size: 0.8em;

  --h1-size: 80px;
  --h2-size: 40px;
  --h3-size: 18px;
  --h4-size: 14px;
  --p-size: 24px;
}

@media (max-width: 960px) {
  :root {
    --pad: 24px 48px 24px 48px;

    --h1-size: 64px;
  }

  .photo img {
    max-width: 100% !important;
  }
}

@media (max-width: 640px) {
  :root {
    --h1-size: 40px;
    --h2-size: 32px;
    --h3-size: 18px;
    --p-size: 18px;
  }
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --bg: #111118;
    --highlight: #22222a;
    --text: #fffff9;
    --link-color: #ffe100;
  }
}*/

body {
  font-family: Hoefler Text, Arial;
  font-size: var(--p-size);
  line-height: 1.25;

  background-color: var(--bg);
  color: var(--text);

  max-width: 1920px;
  margin: 0 auto 0 auto;

  padding-bottom: 147px;
}

div.page {
  position: relative;
  z-index: 2;
  background-color: var(--bg);
}

/* Selections */
::-moz-selection {
  background: var(--selection-color);
}
::selection {
  background: var(--selection-color);
}
/* Selections */

a { 
  color: var(--nav-text);
  text-decoration: none;
  /*border-bottom: 2px solid currentColor;*/
}

header {
  top: 0;
  width: 100vw;
  z-index: 9999;
  padding: var(--h4-size) var(--global-pad);
  background-color: var(--bg);
  font-variation-settings: "wght" 600;
  align-items: center;

  position: sticky;
  position: -webkit-sticky;
  display: flex;
  justify-content: space-between;
}

header h1:before {
  content: "";
  display: inline-block;
  width: var(--dash-size);
  height: 2px;
  margin: 0 0.5em 0 0;
  /*background-color: var(--link-color);*/
  vertical-align: middle;
}

header h1 a {
  color: currentColor;
  border-bottom-color: transparent;
}

#logo-header {
  background-image: url('quebracho-logo-x2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 40px;
  width: 120px;
}

div.left-nav-x1 {
  font-size: var(--h4-size);
  text-align: right;
}

div.lang-link, div.right-nav-x2 {
  font-size: var(--h4-size);
}

div.right-nav-x2 ul p {
  margin: 0;
}

div.lang-link a {
  text-transform: uppercase;
}

div.lang-link a:first-child:after {
  content: "/";
  color: var(--text);
  margin-left: 3px;
}

div.left-nav-x1, div.right-nav-x2 {
  flex: 1;
}

.container {
  height: 40rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	width: auto;
	z-index: -1;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
  object-fit: cover;
}

section.project-thumbnails {
  position: relative;
}

div.project-thumb {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

div.project-thumb img {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  transition: filter .3s ease-in-out;
}

div.project-thumb img:hover {
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
}

div.project-thumb p {
  position: absolute;
  width: 100%;
  top: 43%;
  font-size: 6.5vw;
  font-family: 'Poppins';
  font-weight: 600;
  text-align: center;
  z-index: 99;

  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

div.project-thumb:hover p {
  visibility: visible;
  opacity: 1;
}

div.project-thumb sup {
  vertical-align: top;
  font-size: 2.5vw;
  font-family: Hoefler Text;
  font-weight: normal;
  font-style: italic;
}

div.q-info {
 background-color: var(--nav-text);
 height: 360px;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: var(--pad); 
}

div.q-info-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--white-text);

  user-select: none;
}

div.q-info-container img {
  width: 100px;
}

div.q-info-container h2 {
  width: 420px;
  text-align: center;
  margin: 0;
}

span.highlight_q-info {
  border-bottom: 3px solid salmon;
}

aside.projects-cta-banner {
  background-color: var(--nav-text);
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: var(--pad);
}

div.project-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-text);
}

div.project-cta h2 {
  width: 180px;
  margin: 0;
}

hr {
  border: 1px solid var(--white-text);
  width: 40vw;
  margin: 0 72px;
}

button.btn {
  background: none;
  color: var(--white-text);
  font-family: 'Poppins';
  font-weight: 600;
  border: 2px solid var(--white-text);
  border-radius: 3px;
  cursor: pointer;
  padding: var(--btn-pad);
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 200;
}

button.btn:hover {
  color: var(--text);
}

button.btn:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 50% 50% 0 0;
  height: 0%;
  transition: all 0.5s;
  z-index: -1;
}

button.btn:hover:before {
  height: 210%;
}

/*button.btn:hover {
  color: var(--text);
  border-color: var(--text);
  box-shadow: 0 0.8em 0.5em -0.4em #5a5a5a;
  transform: translateY(-0.35em);
}*/

section.hero {
  font-size: var(--h1-size);
  font-variation-settings: "wght" 600;
  line-height: 1.15;
  padding: var(--pad);
}

figure {
  margin: 0 0 48px 0;
}

figcaption {
  padding: var(--pad);
  max-width: 35em;
}

figure img {
  position: relative;
  z-index: 2;
}

h2 {
  font-size: var(--h2-size);
  font-variation-settings: "wght" 500;
  margin: 0 0 24px 0;
}

h2 a {
  color: var(--text);
}

h3 {
  font-size: var(--h3-size);
  font-variation-settings: "wght" 500;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

h4 {
  font-size: var(--h4-size);
  font-variation-settings: "wght" 500;
  text-transform: uppercase;
  margin: 0 0 4px 0;
}

p {
  margin: 0 0 24px 0;
}

p:last-child {
  margin-bottom: 0;
}

figcaption p.comingsoon {
  opacity: 0.5;
  font-size: 0.75em;
}

div.cursors div {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid var(--line-footer);
  z-index: 1000;
  pointer-events: none;
  /*background-color: var(--link-color);*/
  background-color: transparent;
}

div.cursors div:last-child {
  background-color: var(--text);
  width: 8px;
  height: 8px;
  mix-blend-mode: darken;
}

section.assets {
  font-size: 16px;
  padding: var(--pad);
  counter-reset: assets;
}

section.assets figcaption {
  margin-top: 16px;
  padding: 0;
}

section.assets figcaption:before {
  counter-increment: assets;
  content: "Image #" counter(assets);
  display: block;
  font-variation-settings: "wght" 600;
  margin-bottom: 0.25em;
}

section.credits {
  padding: var(--pad);
  background-color: var(--highlight);
}

section.credits div.list {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 8px 32px;
}

section.credits span.role {
  font-variation-settings: "wght" 500;
}

section.prev-next {
  padding: var(--pad);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

section.prev-next a {
  border-bottom: none;
}

section.prev-next a.next {
  text-align: right;
}

section.studiowork {
  position: relative;
  margin: 0;
  background-color: var(--bg);
}

section.studiowork div.right {
  float: right;
  width: 50%;
  padding: 0 0 20px 9px;
  height: 600px;
}

section.studiowork div.left {
  float: left;
  width: 50%;
  padding: 0 9px 20px 0;
  height: 600px;
}

div.left img, div.right img {
  height: 100%;
  width: 100%;
  border: 0;
  object-fit: cover;
}

div.studio-work {
  display: flex;
  flex-wrap: wrap;
}

div.studio-work div.item {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
}

div.studio-work > div {
  flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
  box-shadow: none;
  margin-top: 15px;
}

div.studio-work > div:nth-child(odd) {
  border-right: solid 15px var(--bg);
}

div.item img {
  height: 100%;
  width: 100%;
  border: 0;
  object-fit: cover;
  transition: filter .3s;
}

div.item img:hover {
  filter: blur(5px) opacity(20%);
  -webkit-filter: blur(5px) opacity(20%);
  -moz-filter: blur(5px) opacity(20%);
}

div.item div.item_title {
  position: absolute;
  top: 43%;
  font-size: 3.5vw;
  text-align: center;

  visibility: hidden;
  opacity: 0;

  z-index: -1;
}

div.item div.item_title p, div.item div.item_title h1 {
  font-size: var(--h2-size);
}

div.item div.item_title h1 {
  font-family: 'Poppins', Arial;
  text-transform: uppercase;
  font-weight: 600;
}

div.item div.item_title p {
  font-style: italic;
}

div.item:hover div.item_title {
  visibility: visible;
  opacity: 1;
  color: var(--text);
}

footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  left: 0;
  bottom: 0;
  padding: var(--global-pad);
  width: 100vw;
  font-size: var(--h4-size);
  z-index: 1;
}

div.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid var(--line-footer);
  padding-bottom: var(--footer-pad);
}

div.shrink-text {
  flex: 0 0 66.666667%;
}

div.social-links {
  display: inline-grid;
  text-align: end;
}

div.sec-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--footer-pad);
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  color: var(--line-footer)
}

div.terms-conditions {
  display: flex;
}

div.terms-conditions h1 {
  margin-left: 20px;
}

/* Modal */
div.about-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: -100vh;
  z-index: 999;
  transform: translateY(0%);
  transition-timing-function: ease;
  overflow: hidden;
  background-color: var(--bg);
  color: #fff;
}

div.about-modal.active {
  transform: translateY(100vh);
  color: var(--text);
}

div.about-info {
  padding: var(--global-pad);
  position: absolute;
  top: 85px;
  left: 0;
  overflow: hidden;
  height: calc(100vh - 85px);
}

div.about-info div.about-info-p {
  max-width: 55%;
  font-family: 'Poppins';
  font-weight: 400;
  min-height: 320px;
}

nav.about-nav {
  margin-bottom: 48px;
}

nav.about-nav a {
  display: block;
  font-size: var(--h2-size);
}

div.about-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.5;
}

div.about-sections div.about-sections-x1 h3 {
  text-decoration: underline;
  font-size: var(--h4-size);
}

div.about-sections div.about-sections-x1 a, div.about-sections div.about-sections-x1 ul {
  display: block;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: var(--h4-size);
}

.loading {
  opacity: 0;
  transition: opacity 1s;
}

main {
  opacity: 1;
}