@import url('https://rsms.me/inter/inter.css');
@import url("base.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@keyframes translated {
  0% { transform: translateY(25px); opacity: 0; animation-timing-function:ease-in-out; }
  100% { transform: translateY(0px); opacity: 1; animation-timing-function:ease-in-out; }
}

@-webkit-keyframes translated {
  0% { transform: translateY(25px); opacity: 0; animation-timing-function:ease-in-out; }
  100% { transform: translateY(0px); opacity: 1; animation-timing-function:ease-in-out; }
}

@keyframes float {
  from { transform: translate(2%, -10%) rotate(-1deg); }
  to { transform: translate(-2%, 5%) rotate(3deg); }
}

@-webkit-keyframes float {
  from { transform: translate(2%, -10%) rotate(-1deg); }
  to { transform: translate(-2%, 5%) rotate(3deg); }
}

:root {
  --pad: 48px 96px 48px 96px;
  --global-pad: 30px;
  --modal-pad: 24px;
  --footer-pad: 10px;
  --btn-pad: 16px 34px 16px 34px;
  --bg: #ffffff;
  --line-footer: #aaaaaa;
  --highlight: #ffffdd;
  --text: #000000;
  --white-text: #ffffff;
  --eyes-text: #2e2e2e;
  --nav-text: #000000;
  --link-color: #0000ff;
  --selection-color: #e0e0e0;
  --dash-size: 0.8em;

  --h1-size: 80px;
  --h2-size: 40px;
  --h3-size: 18px;
  --h4-size: 14px;
  --p-size: 24px;
  --secheader-size: 12px;
  --h1-xl-size: 110px;
}

@media (max-width: 960px) {
  :root {
    --pad: 24px 48px 24px 48px;

    --h1-size: 64px;

    --h1-xl-size: 80px;
  }

  .photo img {
    max-width: 100% !important;
  }
}

@media (max-width: 640px) {
  :root {
    --h1-size: 40px;
    --h2-size: 32px;
    --h3-size: 14px;
    --p-size: 18px;
    --global-pad: 14px;
    --h1-xl-size: 40px;
  }
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --bg: #111118;
    --highlight: #22222a;
    --text: #fffff9;
    --link-color: #ffe100;
  }
}*/

body {
  font-family: Hoefler Text, Arial;
  font-size: var(--p-size);
  line-height: 1.25;

  background-color: var(--bg);
  color: var(--text);
  padding-bottom: 147px;
  -webkit-font-smoothing: antialiased;
}

body.no-padding {
  padding: 0;
  overflow: hidden;
}

body.active-body {
  overflow: hidden;
}

div.page {
  position: relative;
  z-index: 2;
  background-color: var(--bg);
  transition: filter 0.2s ease-out;
  -webkit-transition: filter 0.2s ease-out;
  -moz-transition: filter 0.2s ease-out;
  -ms-transition: filter 0.2s ease-out;
}

div.page.blured {
  filter: blur(3px) brightness(0.8);
  -webkit-filter: blur(3px) brightness(0.8);
  -moz-filter: blur(3px) brightness(0.8);
  -o-filter: blur(3px) brightness(0.8);
  -ms-filter: blur(3px) brightness(0.8);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0,0,0);
  transform: translateZ(0);
}

div.page.no-overflow {
  overflow: hidden;
}

a { 
  color: var(--nav-text);
  text-decoration: none;
  /*border-bottom: 2px solid currentColor;*/
}

div.sec_header {
  top: 0;
  width: 100vw;
  padding: var(--h4-size) var(--global-pad);
  font-variation-settings: "wght" 600;
  align-items: center;
  background-color: var(--line-footer);
}

div.sec_header div.contact-links {
  font-family: 'Poppins';
  font-size: var(--secheader-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  top: 0;
  width: 100vw;
  z-index: 3;
  padding: var(--h4-size) var(--global-pad);
  background-color: var(--bg);
  font-variation-settings: "wght" 600;
  align-items: center;

  position: sticky;
  position: -webkit-sticky;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.5s;
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0);
}

header.active_header {
  background: rgba(0, 0, 0, 0);
}

header h1:before {
  content: "";
  display: inline-block;
  width: var(--dash-size);
  height: 2px;
  margin: 0 0.5em 0 0;
  /*background-color: var(--link-color);*/
  vertical-align: middle;
}

header h1 a {
  color: currentColor;
  border-bottom-color: transparent;
}

#logo-header {
  background-image: url('quebracho-version.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  /* normal size
  height: 30px;
  width: 100px;
  */
  /* new size */
  height: 40px;
  width: 110px;
}

#logo-header.new_logo {
  background-image: url('quebracho-scroll.svg');
  height: 40px;
  width: 110px;
  animation: fadeIn 0.5s 0.5s both;
}

nav {
  font-size: var(--h4-size);
}

nav a {
  margin: 0 16px 0 0;
}

div.lang-link, nav.right-nav {
  font-size: var(--h4-size);
}

nav.right-nav {
  text-align: right;
}

nav.right-nav ul p {
  margin: 0;
}

div.lang-link a, nav a {
  text-transform: uppercase;
  margin: 0;
}

div.lang-link a:first-child:after {
  content: "/";
  color: var(--text);
  margin-left: 3px;
}

nav, nav.right-nav {
  flex: 1;
}

.container {
  height: 40rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	width: auto;
	z-index: -1;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
  object-fit: cover;
}

section.project-thumbnails {
  position: relative;
}

div.project-thumb {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  transition: filter .3s ease-in-out;
}

div.project-thumb img {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}

div.project-thumb:hover {
  filter: brightness(55%);
  -webkit-filter: brightness(55%);
}

div.project-thumb p {
  position: absolute;
  width: 100%;
  top: 43%;
  font-size: 6.5vw;
  font-family: 'Poppins';
  font-weight: 600;
  text-align: center;
  /*z-index: 1;*/

  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

div.project-thumb:hover p {
  visibility: visible;
  opacity: 1;
}

div.project-thumb sup {
  vertical-align: top;
  font-size: 2.5vw;
  font-family: Hoefler Text;
  font-weight: normal;
  font-style: italic;
}

div.q-info {
 background-color: var(--nav-text);
 height: 360px;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: var(--pad); 
}

div.q-info-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--white-text);

  user-select: none;
}

div.q-info-container img {
  width: 100px;
}

div.q-info-container h2 {
  width: 440px;
  text-align: center;
  margin: 0;
}

span.highlight_q-info {
  border-bottom: 3px solid salmon;
}

aside.projects-cta-banner {
  background-color: var(--nav-text);
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div.project-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-text);
}

div.project-cta h2 {
  width: 180px;
  margin: 0;
}

hr {
  border: 1px solid var(--white-text);
  width: 40vw;
  margin: 0 72px;
}

button.btn {
  background: none;
  color: var(--white-text);
  font-family: 'Poppins';
  font-weight: 600;
  border: 2px solid var(--white-text);
  border-radius: 3px;
  cursor: pointer;
  padding: var(--btn-pad);
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 200;
}

button.btn:hover {
  color: var(--text);
}

button.btn:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 50% 50% 0 0;
  height: 0%;
  transition: all 0.5s;
  z-index: -1;
}

button.btn:hover:before {
  height: 210%;
}

/*button.btn:hover {
  color: var(--text);
  border-color: var(--text);
  box-shadow: 0 0.8em 0.5em -0.4em #5a5a5a;
  transform: translateY(-0.35em);
}*/

section.hero {
  font-size: var(--h1-size);
  font-variation-settings: "wght" 600;
  line-height: 1.15;
  padding: var(--pad);
}

figure {
  margin: 0 0 48px 0;
}

figcaption {
  padding: var(--pad);
  max-width: 35em;
}

figure img {
  position: relative;
  z-index: 2;
}

h2 {
  font-size: var(--h2-size);
  font-variation-settings: "wght" 500;
  margin: 0 0 24px 0;
}

h2 a {
  color: var(--text);
}

h3 {
  font-size: var(--h3-size);
  font-variation-settings: "wght" 500;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

h4 {
  font-size: var(--h4-size);
  font-variation-settings: "wght" 500;
  text-transform: uppercase;
  margin: 0 0 4px 0;
}

p {
  margin: 0 0 24px 0;
}

p:last-child {
  margin-bottom: 0;
}

figcaption p.comingsoon {
  opacity: 0.5;
  font-size: 0.75em;
}

div.cursors div {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid var(--white-text);
  z-index: 1000;
  pointer-events: none;
  background-color: rgba(255,255,255, 0.5);
  
}

section.assets {
  font-size: 16px;
  padding: var(--pad);
  counter-reset: assets;
}

section.assets figcaption {
  margin-top: 16px;
  padding: 0;
}

section.assets figcaption:before {
  counter-increment: assets;
  content: "Image #" counter(assets);
  display: block;
  font-variation-settings: "wght" 600;
  margin-bottom: 0.25em;
}

section.credits {
  padding: var(--pad);
  background-color: var(--highlight);
}

section.credits div.list {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 8px 32px;
}

section.credits span.role {
  font-variation-settings: "wght" 500;
}

section.prev-next {
  padding: var(--pad);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

section.prev-next a {
  border-bottom: none;
}

section.prev-next a.next {
  text-align: right;
}

section.studiowork {
  position: relative;
  margin: 0;
  background-color: var(--bg);
}

section.studiowork div.right {
  float: right;
  width: 50%;
  padding: 0 0 20px 9px;
  height: 600px;
}

section.studiowork div.left {
  float: left;
  width: 50%;
  padding: 0 9px 20px 0;
  height: 600px;
}

div.left img, div.right img {
  height: 100%;
  width: 100%;
  border: 0;
  object-fit: cover;
}

div.studio-work {
  display: flex;
  flex-wrap: wrap;
}

div.studio-work div.item {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
}

div.studio-work > div {
  flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
  box-shadow: none;
  margin-top: 15px;
}

div.studio-work > div:nth-child(odd) {
  border-right: solid 15px var(--bg);
}

div.item img {
  height: 100%;
  width: 100%;
  border: 0;
  object-fit: cover;
  transition: filter .3s;
}

div.item img:hover {
  filter: blur(5px) opacity(20%);
  -webkit-filter: blur(5px) opacity(20%);
  -moz-filter: blur(5px) opacity(20%);
}

div.item div.item_title {
  position: absolute;
  top: 43%;
  font-size: 3.5vw;
  text-align: center;

  visibility: hidden;
  opacity: 0;

  z-index: -1;
}

div.item div.item_title p, div.item div.item_title h1 {
  font-size: var(--h2-size);
}

div.item div.item_title h1 {
  font-family: 'Poppins', Arial;
  text-transform: uppercase;
  font-weight: 600;
}

div.item div.item_title p {
  font-style: italic;
}

div.item:hover div.item_title {
  visibility: visible;
  opacity: 1;
  color: var(--text);
}

/* project styles */
section.project-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

section.project-container div {
  padding-bottom: 10px;
}

div.project__cover {
  height: auto;
  width: 100vw;
  position: relative;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto
}

div.project__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

div.project__x1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

div.project__x1 div.left {
  padding-right: 10px;
}

div.project__x1 div.right {
  padding-left: 10px;
}

figcaption.small {
  font-family: 'Poppins';
  font-size: var(--h3-size);
  line-height: 1.5;
}

figcaption.small a:hover {
  text-decoration: underline;
}

/*About page styles */
div.snap-container {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

aside.snap-section {
  scroll-snap-align: center;
  min-height: 100vh;
}

aside.about-hero {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div.about-hero-cta figcaption {
  font-family: 'Poppins';
}

div.about-hero-cta figcaption h1 {
  font-size: var(--h1-size);
  font-weight: 600;
  margin: 0 0 14px 0;
}

div.about-hero-cta p.p-small {
  font-size: var(--h3-size);
  font-weight: 500;
  text-align: center;
  text-align: -webkit-center;
  letter-spacing: -0.025em;
  line-height: 1.5;
  color: var(--eyes-text);
}

div.about-hero-cta figcaption p {
  margin-bottom: 10px;
  font-weight: 600;
}

div.translated {
  transform: translate(0px, -50px)
}

section.about-sections {
  display: flex;
  flex-direction: row;
}

section.about-sections div {
  width: 50%;
}

section.about-sections div.about-sections-txt {
  padding: var(--global-pad);
}

figcaption.full-caption {
  height: 100vh;
}

section.about-sections div.about-sections-img {
  height: 100vh;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("quebracho-trunks.gif");

  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  left: 0;
  bottom: 0;
  padding: var(--global-pad);
  width: 100vw;
  font-size: var(--h4-size);
  z-index: 1;
}

div.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid var(--line-footer);
  padding-bottom: var(--footer-pad);
}

div.shrink-text {
  flex: 0 0 66.666667%;
}

div.social-links {
  display: inline-grid;
  text-align: end;
}

div.sec-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--footer-pad);
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  color: var(--line-footer)
}

div.terms-conditions {
  display: flex;
}

div.terms-conditions h1 {
  margin-left: 20px;
}

/* Toggle menu */
#toggle-menu {
  background: rgba(0, 0, 0, 1);
  position: fixed;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  top: -100vh;
  z-index: 999;
  transform: translateY(0%);
  color: var(--text);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
}

#toggle-menu.active {
  transform: translateY(100vh);
  color: var(--white-text);
  opacity: 1;
}

.toggle-nav {
  position: fixed;
  bottom: 0;
  padding-left: var(--global-pad);
  margin-top: 0;
  margin-bottom: var(--global-pad);

  overflow: hidden;

  font-family: 'Poppins';
  font-size: var(--h1-xl-size);
  font-weight: 400;

  display: flex;
  flex-direction: column;

  line-height: 1.2;
}

.list-links {
  padding: var(--global-pad);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.list-links a {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: var(--h4-size);
  text-transform: uppercase;
}

.circle-wrapper {
  margin-top: 0;
  margin-bottom: var(--global-pad);
  padding-right: var(--global-pad);
  position: fixed;
  bottom: 0;
  right: 0;
}

.circle {
  cursor: pointer;
}

.circle_logo {
  background-image: url("quebracho-toggle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.toggle-nav a, .list-links a {
  color: var(--white-text);
}

.toggle-nav a {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.toggle-nav:hover a {
  opacity: 0.2;
}

.toggle-nav a:hover {
  opacity: 1;
  transform: translate(0, 10px);
}