@font-face {
    font-family: "Hoefler Text";
    src: url('HoeflerText.woff2') format('woff2'), url('HoeflerText.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: "Neue Haas";
  src: url('NeueHaasGrotText-65Medium-Web.woff2'), format('woff2');
  font-weight: normal;
  font-style: normal;
}