@media (max-width: 600px) {
    body {
      padding-bottom: 70px;
    }

    div.cursors {
      display: none;
    }

    aside.projects-cta-banner {
        height: 50vh;
        display: flex;
        align-items: center;
        padding: 0;
      }

      div.project-cta {
          flex-direction: column;
          justify-content: flex-start;
          text-align: center;
      }

      div.project-cta hr {
        border: none;
        border-left: 2px solid #ffffff;
        height: 10vh;
        width: 2px;
        margin: 24px 0;
      }

      div.studio-work {
        display: block;
      }

      div.terms-conditions {
        display: block;
        text-align: end;
      }

      div.sec-footer h1.mobile-copy {
        display: flex;
        flex-basis: 100px;
      }

      div.studio-work > div:nth-child(odd) {
        border-right: none;
      }

      div.studio-work div.item {
        height: 100%;
      }

      div.item div.item_title {
        top: 39%;
      }

      section.project__description figcaption {
        padding: var(--global-pad) 15px;
      }

      section.project-container {
        width: 100%;
      }

      div.about__section section {
        width: 100%;
        padding: var(--pad);
      }

      div.about__section section p{
        font-size: inherit;
      }

      div.about-hero-cta figcaption {
        padding: var(--global-pad);
      }

      div.about-sections {
        flex-direction: column;
        margin-top: 24px;
      }

      div.about-info div.about-info-p {
        display: none;
      }

      div.about-sections-x1 h3 {
        margin-bottom: 0;
      }

      div.about-sections-x1 {
        margin: 0 0 24px 0;
      }

      section.quotes h1 {
        letter-spacing: 0;
      }

      div.left-nav-x1 a {
        display: none;
      }

      div.page {
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
      }

      div.page.blured {
        filter: blur(0) brightness(0.6);
        -webkit-filter: blur(0) brightness(0.6);
        -moz-filter: blur(0) brightness(0.6);
        -o-filter: blur(0) brightness(0.6);
        -ms-filter: blur(0) brightness(0.6);
      }

      .circle-wrapper {
        display: none;
      }

      div.next_quote {
        justify-content: space-around;
      }

      section.quotes h1 {
        font-size: var(--h2-size);
      }

      section.quotes {
        width: 80%;
      }
      
      div.contact-headers {
        display: none;
      }

      div.contact-container, div.location-container {
        display: block;
      }

      div.contact-container div, div.location-container div {
        width: 100%;
        border: none;
        margin-bottom: 24px;
      }

      div.full-image {
        display: none;
      }

      div.page-top {
        line-height: 1.5;
        font-size: 4.5vw;
        margin-bottom: var(--h4-size);
      }

      div.full-text h3.full-text-center {
        display: block;
      }

      div.main-footer {
        display: block;
      }

      div.main-footer div {
        margin-top: 20px;
      }

      div.social-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
      }

      div.small-content-wrap {
        padding-top: 24px;
        padding-bottom: 14px;
        flex-direction: column;
        margin: 0;
        width: 100vw;
        padding-left: var(--global-pad);
        padding-right: var(--global-pad);
      }

      div.small-content-wrap div {
        width: 100%;
      }

      div.small-two {
        margin-right: 0;
      }

      div.small-two:last-child {
        margin-top: 24px;
      }

      aside.mainpage-services {
        height: auto;
      }

      div.services-list li {
        font-size: calc(1.21995rem + 1.83753vw);
      }

      div.services-list ul {
        line-height: 1.3;
        text-align: left;
      }

      .slides {
        display: none;
      }

      div.snap-container {
        display: block;
      }

      .menu__sec {
        text-align: inherit;
      }

      .menu__sec div:first-child {
        padding-left: var(--global-pad);
      }

      .menu__sec div:last-child {
        text-align: right;
        padding-right: var(--global-pad);
      }

      .menu__sec div {
        width: 100%;
      }

      div.studio-work > div:nth-child(2) {
        margin-top: 15px;
      }

      .hidden__xs {
        display: flex;
      }

      .hidden__l8 {
        display: none;
      }

      div.sep__section__x1 {
        flex-direction: column-reverse;
      }

      div.form__close {
        margin-bottom: 24px;
      }

      div.client__project {
        padding: 40px var(--global-pad) 80px var(--global-pad);
      }

      div.client__project__main {
        padding: 0;
      }

      div.section__btn button {
        font-size: 15px;
      }

      .project__tags, section.project__description figcaption p {
        margin: 0 0 78px 0;
      }

      section.project__description figcaption p {
        font-size: var(--mobile-size);
        line-height: 1.7;
      }

      h2.project__tags {
        font-size: 24px;
        line-height: 1.5;
      }

      div.container {
        height: 20rem;
      }

      div.hero {
        width: 100px;
      }
}

@media (max-width: 960px) {

    section.project-container .half__cover {
      height: 60vw;
    }

    div.join__us__contact {
      flex-direction: column;
      justify-content: space-evenly;
    }

    div.join__us__contact figcaption {
      padding: 0 var(--global-pad);
    }

    div.join__us__contact p {
      text-align: center;
  }

  .popup__singup_mail {
    width: 340px;
  }

  div.project__x1 {
    flex-direction: column;
  }

  div.project__x1 div.left {
    padding-right: 0;
    padding-bottom: 5px;
  }

  div.project__x1 div.left img {
    padding-bottom: 5px;
  }

  div.project__x1 div.right {
    padding-left: 0;
  }

  div.container video {
    width: 100px;
  }
}